body {
    font-size: 16px;
    font-family: Roboto, sans-serif;
}

header, main, footer {
    margin: 1rem;
    position: relative;
}

h1 {
    color: #567f9b;
    border-bottom: 1px solid #eee;
    text-shadow: 0 0 15px #af8e8e;
    width: 60%;
}

main {
    margin-left: 2rem;
}

h2 {
    color: rgb(96, 150, 185);
    margin: 0 0 1rem 0;
    border-bottom: 1px solid #e6dede;
}

#cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}

section {
    margin: 0.25rem;
    padding: 0.35rem;
    background-color: #eee;
    border: 1px solid rgb(96, 150, 185);
    display: flex;
    flex-direction: column;
    align-items: center;
}

section p {
    margin-top: 0;
    margin-bottom: 15px;
}

img {
    width: auto;
    max-width: 325px;
    box-shadow: 0 0 30px rgb(136, 139, 141);
    height: 250px;
    border: 1px solid #f1f1f1;
}

footer {
    border-top: 1px solid #b3b1b1;
    padding: 20px;
    text-align: center;
}